<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>最美微笑</title>
</head>

<body class="body_index">
    <h1 style="text-align: center;padding-top: 17%;color:rgba(122, 128, 114, 0.75)">
        最美微笑报名
    </h1>

    <div class="vi" id="main">
        <div style="text-align:center;color:rgba(255, 0, 0, 0.75);padding-bottom:10px" class="my-form-back">
            <b><p>5月10日~5月12日 上传照片</p>
            <p>5月13日~5月17日 进行投票</p><b>
        </div>
        <div class="my-form-back" style="padding-top:0">
            <form class="">
                <div class="form-group form-group-lg">
                    <label for="num" class=" control-label label_my">学号</label>
                    <div class="input_buf">
                        <input type="num" class="form-control input_my" id="num" v-model="login.id">
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <label for="name" class=" control-label label_my">姓名</label>
                    <div class="input_buf">
                        <input type="name" class="form-control input_my" id="name" v-model="login.name">
                    </div>
                </div>
                <div style="height: 15px">

                </div>
                <div class="form-group form-group-lg">
                    <div class="">
                        <button type="button" class="btn btn-info btn-lg btn-block btn_my" v-on:click="login_my">登&nbsp&nbsp&nbsp录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="body_img"></div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/all.css" type="text/css">


</html>