body {
    /*font-family: SimSun;*/
    /*font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;*/
    font: 12px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

h1 {
    font-size: 65px;
}

[type=checkbox] {
    zoom: 270%;
}

.body_index {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    /*line-height: 46px;*/
}

.body_img {
    background-image: url("../img/0432.JPG");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    z-index: -100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    filter: blur(15px);
}

.padding_top_0 {
    padding-top: 0!important;
}

.input_my {
    /*color: white;*/
    opacity: 1;
    font-size: 46px !important;
    background-color: transparent;
    height: 75px!important;
}

.label_my {
    color: white;
    font-size: 46px !important;
    padding-top: 0!important;
}

.btn_my {
    font-size: 36px!important;
    height: 75px;
}

.vi {
    padding: 15% 20% 0 20%;
    position: relative;
    font-size: 32px;
    color: white;
    vertical-align: middle;
}

.textarea_my {
    resize: none;
    /*width: 20%;*/
    /*height: 30%!important;*/
}

.input_buf {
    opacity: 0.5;
    background: white;
    height: 75px;
    top: -75px;
}

.backcolor_my {
    background-color: #f6fffc;
}

.img_show_sign_4_3 {
    width: 400px;
    height: 300px;
    border-radius: 15px;
}

.img_show_4_3 {
    width: 480px;
    height: 360px;
    border-radius: 15px;
}

.div_show {
    margin: 10px 0;
    border-bottom: 1px solid black;
}

.div_show_word {
    font-size: 30px;
    /*float: left;*/
    height: 100%;
    /*width: 100%;*/
    /*position: relative;*/
    /*position: absolute;*/
}

.test {
    /*position: absolute;*/
    height: 53px;
    /*width: 50%;*/
    background: red;
    /*margin-top: -100%*/
    opacity: 0.5;
}