<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>最美微笑投票</title>
</head>

<body class="backcolor_my">
    <div id="show" style="padding: 10% 15% 0 15%">
        <div>
            <div style="text-align: center;padding-bottom: 20px">
                <h1>最美微笑投票</h1>
            </div>
            <div class="row">
                <div v-for='data in user' class="col-sm-12">
                    <div class="thumbnail">
                        <img :src="data.img_path" :alt="data.name" class="img_show_4_3">
                        <div class="caption" style="text-align:center">
                            <h2>{{data.name}} </h2>
                            <p>{{data.meg}}</p>
                            <p>票数：<span style="color:red">{{data.vote_num}}</span></p>
                            <!--<p>-->
                            <div v-on:click="checkeid_check(3)" class="row">
                                <input type="checkbox" :id="data._id" :value="data._id" v-model="checkeid" style="display:none;">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <div type="button" class="btn btn-primary btn-lg btn-block" v-bind:class="data.class" style="font-size:30px">
                                        <label :for="data._id" style="display:block">{{data.chose_msg}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-lg" style="margin:50px 0 40px 0;">
                <div style="height:60px">
                    <button type="button" class="btn btn-success btn-primary btn-lg btn-block btn_my" v-on:click="vote">投&nbsp&nbsp&nbsp票</button>
                </div>
            </div>
            <div style="height:100px"></div>s
        </div>
    </div>

</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/js/show.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/all.css" type="text/css">


</html>