<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>最美微笑报名?</title>
</head>

<body class="backcolor_my">
    <div id="sign">
        <div style="padding: 5% 13% 0 13%;">
            <div style="text-align: center;padding-bottom: 20px">
                <h1>报名信息</h1>
            </div>
            <div style="font-size:45px">
                <form class="form-horizontal" enctype="multipart/form-data" method="post" name="fileinfo" id="fileform">
                    <div class="form-group form-group-lg">
                        <label for="name" class="col-xs-3 control-label sign_size">姓名</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control input_sign_my" id="name" :placeholder="user.name" readonly>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="num" class="col-xs-3 control-label sign_size">学号</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control input_sign_my" id="num" :placeholder="user.id" readonly>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="phone" class="col-xs-3 control-label sign_size">电话</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control input_sign_my" id="phone" v-model="user.phone" maxlength="11">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="meg" class="col-xs-3 control-label sign_size">宣言</label>
                        <div class="col-xs-9">
                            <textarea class="form-control textarea_my" id="meg" v-model="user.meg" maxlength="120"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group-lg has-success has-feedback">
                        <label class="control-label col-xs-3 sign_size" for="file" required>照片</label>
                        <div class="col-xs-9">
                            <input type="file" name="file" class="form-control input_sign_file" id="fileupload" aria-describedby="inputSuccess3Status" :placeholder="user.img_path" data-url="/api/student/img/" multiple>
                            <input type="text" class="form-control input_sign_my" id="file_show" style="margin-top:-75px">

                            <span class="glyphicon glyphicon-ok form-control-feedback right" id="file_right" aria-hidden="true"></span>
                            <span id="inputSuccess3Status" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="meg" class="col-xs-offset-3 control-label" style="font-size:30px">注：图片须小于750k</label>
                    </div>
                    <div class="orm-group form-group-lg col-xs-offset-2">
                        <img class="img_show_sign_4_3" id="img" :src="user.img_path">
                    </div>
                    <div style="height: 20px"></div>
                    <div class="form-group form-group-lg">
                        <div class="col-xs-offset-2 col-xs-8">
                            <button type="button" class="btn btn-success btn-block btn_sign_my" v-on:click="user_change">修&nbsp&nbsp&nbsp&nbsp&nbsp改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/sign.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/all.css" type="text/css">


</html>